@import 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: center;
}

button {
    margin-left: 120px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.842);
}

#title-header {
    color: white;
    font-size: 2.3em;
}

.flex-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2%;
    text-align: center;
    margin: 0px;
}

.content-section {
    padding: 0%;
    margin: 0%;
}

.color-div {
    width: 20%;
    padding: 50px;
    margin-left: 20px;
}

.p-div-color {
    font-size: 1.3em;
    font-weight: 700px;
    color: white;
}

#image-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-left: 1vw;
}

.image-div {
    height: 10vh;
    width: 50vw;
}

#image-together {
    margin-top: 200px;
    display: flex; 
    gap: 0px; 
    width: 100vw;
}

.image-div-together {
    max-width: 100; 
    height: 310px;
}

.image-div-together img {
    width: 100%; 
    height: 30vh; 
}


#btn {
    text-align: left;
}

#one {
    margin-left: 150px;
    background-color: chocolate;
}

#two {
    margin-left: 400px;
    background-color: cadetblue;
}

#three {
    margin-left: 600px;
    background-color: burlywood;
}

#four{
    margin-left: 750px;
    background-color: brown;
}

#five {
    margin-left: 940px;
    background-color: blueviolet;
}

#six {
    margin-left: 1200px;
    background-color: deeppink;
}

#seven {
    margin-left: 1400px;
    background-color: darkgreen;
}

footer {
    background-color: black;
    padding: 30px;
    color: white;
    text-align: center;
}
